In [6]:
import requests, bs4
import pandas as pd
# Вводим тикер актива и даты начала и конца.
TICKER = 'SBER'
DATE_FROM = '2013-01-01'
DATE_TILL = '2018-08-15'
start = 0
hlocv = []
while True:
    # Собираем информацию об инструменте, для запроса рыночных данных.
    ticker_info = requests.get('http://iss.moex.com/iss/securities.xml?q=%s' % (TICKER)).text
    ticker_info = bs4.BeautifulSoup(ticker_info, 'html.parser') 
    ticker_info = ticker_info.find('rows').find('row', {'secid': '%s' % (TICKER)})
    engine = ticker_info.get('group').split('_')[0]
    market = ticker_info.get('group').split('_')[1]
    board = ticker_info.get('primary_boardid')
    # Запрашиваем маркет дату.
    items = requests.get('http://iss.moex.com/iss/history/engines/%s/markets/%s/boards/%s/securities/%s/candles.xml?from=%s&till=%s&interval=0&start=%d' % (engine, market, board, TICKER, DATE_FROM, DATE_TILL, start)).text
    items = bs4.BeautifulSoup(items, 'html.parser') 
    items = items.find('rows').find_all('row')
    # Составляем словарь из параметров торгового дня и формируем один большой список из всех дней диапазона дат.
    for i in items:
        date = i.get('tradedate')
        open_p = i.get('open')
        high = i.get('high')
        low = i.get('low')
        close = i.get('close')
        volume = i.get('volume')
        hlocv.append({'date': date, 'open': open_p, 'high': high, 'low': low, 'close': close, 'volume': volume })
    # Проверяем является ли дата последнего торгового дня в выдаче конечной датой нашего интервала.    
    if items[-1].get('tradedate') != DATE_TILL:
        # Если нет, то загружаем еще
        start +=len(items)
    else:
        break
# формируем датафрейм
df = pd.DataFrame(hlocv, columns = ['date','open', 'high', 'low', 'close', 'volume'])
df

            date    open    high     low   close     volume
0     2013-03-25      96  101.14      96   98.79     593680
1     2013-03-26   98.58   99.31   97.08    97.2    1283550
2     2013-03-27    97.9      98   95.39   96.75    1261950
3     2013-03-28   96.38   98.66   95.72   98.59    1971410
4     2013-03-29    98.6   99.09   98.32   98.76     782000
5     2013-04-01   98.37   99.43   97.55   98.07    2279650
6     2013-04-02   98.12   99.45   98.04   98.93    3555020
7     2013-04-03    98.9   99.71   98.69   99.59    3757240
8     2013-04-04   98.86  101.13    98.5   99.91    5172930
9     2013-04-05   99.88  100.84    98.4   99.38    5229210
10    2013-04-08   99.97  100.78   99.83  100.43    5080400
11    2013-04-09  101.24  102.62   100.7  102.53    6539720
12    2013-04-10  102.79  102.79   99.81  100.56    6477440
13    2013-04-11  100.78  100.79   99.45  100.31    9738330
14    2013-04-12   99.67  100.14    98.2   98.34    8770130
15    2013-04-15   97.68   97.69   95.05   95.48    9476270
16    2013-04-16   94.73   96.88   94.73   95.92    8746220
17    2013-04-17   96.62   96.62   93.72   94.58   12318170
18    2013-04-18    94.7   96.49   94.26   95.35   11438210
19    2013-04-19    96.3   96.86   95.67   96.22   10456040
20    2013-04-22   97.21   97.95   94.79    95.1    8487550
21    2013-04-23   94.44    96.5   94.05   96.46    9918070
22    2013-04-24   97.14   98.75   96.51   97.89   10809260
23    2013-04-25   98.17   99.35      93   96.11   17508370
24    2013-04-26   95.87   96.94   95.01    95.6   12505810
25    2013-04-29   95.69    96.8    94.7   94.83    9543700
26    2013-04-30    94.8    99.3   94.65    99.3    9242730
27    2013-05-02   98.75  101.29   98.75  100.84    8247370
28    2013-05-03  101.64     103  100.33  102.92    6583590
29    2013-05-06  103.29  103.29  102.03  102.28    5184770
...          ...     ...     ...     ...     ...        ...
1328  2018-07-05   217.5  224.54  216.85  224.54   53737300
1329  2018-07-06  225.01  227.59  221.61  226.71   55247910
1330  2018-07-09   228.5  231.24   228.2     230   50069820
1331  2018-07-10  230.95  232.25     228   230.3   43340410
1332  2018-07-11   229.2   229.2   224.8  227.57   58161000
1333  2018-07-12  226.76  228.45   225.1   226.6   40488130
1334  2018-07-13   227.3  230.86  227.22  229.85   39651270
1335  2018-07-16   230.1     231  226.42  227.99   35579630
1336  2018-07-17     227     227  220.52   222.5   62586090
1337  2018-07-18     222     224  215.64  216.28   61197290
1338  2018-07-19   216.9  217.11  206.56   207.5   93333130
1339  2018-07-20  207.77  210.95   201.1  204.34  126702190
1340  2018-07-23   205.4   210.4  205.25  208.42   55275810
1341  2018-07-24     209  215.45  208.92  215.45   54142290
1342  2018-07-25     211  215.45  208.34   213.7   76868200
1343  2018-07-26   215.7  216.51  209.11     210   59754670
1344  2018-07-27     210  211.22  205.58   208.9   58628430
1345  2018-07-30  207.77  212.49  206.56  211.33   48372730
1346  2018-07-31  211.09  214.94  210.24  214.86   45260950
1347  2018-08-01   213.5   215.2  210.57   210.6   37666650
1348  2018-08-02  208.54  211.72  205.13   206.6   58115220
1349  2018-08-03  206.49  206.55     202  202.21   74165120
1350  2018-08-06   201.8   205.2  199.57   203.9   52730870
1351  2018-08-07  205.19  207.95  201.55  201.79   60553370
1352  2018-08-08  201.53  202.45  191.51   193.2  142075030
1353  2018-08-09  189.99   195.9  182.06   195.9  160336490
1354  2018-08-10     194  196.85  183.01  186.15  113592570
1355  2018-08-13  182.05  193.39  180.15     190  106701070
1356  2018-08-14  192.98  195.98   188.2  192.76   82753490
1357  2018-08-15  192.35     194  186.53  187.98   77725280

[1358 rows x 6 columns]